<div class="simple-login-container">
    <h2>Stock Application</h2>
    <form #loginForm="ngForm" (ngSubmit)="authenticate(loginForm)">
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" required name="in_userName" placeholder="Username" [(ngModel)]="in_userName">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" name="in_password" required placeholder="Enter your Password" class="form-control" [(ngModel)]="in_password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-block btn-login" style="background-color: #79bf78!important;" [disabled]="!loginForm.valid" (click)="authenticate(loginForm)">Log In</button>
        </div>
    </div>
</form>
</div>